* {
  box-sizing: border-box;
}

.example-1::before {
  content: "HELLO";
}
.example-1::after {
  content: "BYE";
  font-weight: 700;
}
.example-2::before {
  content: "😮";
}
.example-2::after {
  content: "ssssss🤐";
}
.example-3::before {
  content: "AA";
}
.example-3::after {
  content: "BB";
}
[data-popover]{
  position: relative;
}

[data-popover]::after {
  content: attr(data-popover);
  box-shadow: 0 0 10px gray;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(241, 176, 56, 0.822);
  position: absolute;
  left: 0;
  top: 35px;
  display: none;
}


[data-popover]::before{
  content: " ";
  height: 10px;
  width: 20px;
  border-bottom: 10px solid rgba(241, 176, 56, 0.822);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  position: absolute;
  top: 15px;
  left: 0;
  display: none;
}
[data-popover]:focus ::after,
[data-popover]:focus ::before{
  display: block;
}
